<h2 mat-dialog-title>Editar película</h2>
<mat-dialog-content class="mat-typography container-fluid row align-items-center justify-content-center ">
    <form [formGroup]="form" class="row container-fluid justify-content-md-center p-2 mb-5 bg-body rounded">
    <div class="col-sm-12 col-md-12 col-lg-6 w-100">
        <!-- Titulo-->
        <mat-form-field class="col-md-12" appearance="outline">
            <mat-label>Titulo</mat-label>
            <input formControlName="titulo" matInput required>
            <mat-hint align="end">{{form.controls.titulo.value?.length || 0}}/300</mat-hint>
            <mat-error *ngIf="this.form.controls.titulo.invalid">{{requiredError}}</mat-error>
        </mat-form-field>

        <!-- Sinopsis -->
        <mat-form-field appearance="outline"  class="col-md-12 comentario">
            <mat-label>Comentario:</mat-label>
            <textarea formControlName="descripcion" matInput required></textarea>
            <mat-hint align="end">{{form.controls.descripcion.value?.length || 0}}/1000</mat-hint>
            <mat-error *ngIf="this.form.controls.titulo.invalid">{{requiredError}}</mat-error>
        </mat-form-field>

        <div class="col-md-6 mb-4">
            <star-rating-control labelText="Estrellitas:" labelPosition="left" size="medium" [hoverEnabled]="true" formControlName="stars" [showHalfStars]="true" [starType]="'svg'" [rating]="2.63"></star-rating-control>
        </div>

        <!-- Genero -->
        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Género</mat-label>
            <mat-select formControlName="idGenero" appearance="outline" required>
                <mat-option *ngFor="let item of generosList" [value]="item.id">{{item.nombre}}</mat-option>
            </mat-select>
            <mat-error *ngIf="this.form.controls.idGenero.invalid">{{requiredError}}</mat-error>
        </mat-form-field>

        <!-- Estreno -->
        <mat-form-field class="example-full-width" appearance="outline" class="col-md-6">
            <mat-label>Estreno</mat-label>
            <input formControlName="estreno" matInput #estreno maxlength="4" minlength="4" placeholder="2022">
        </mat-form-field>

        <!-- Imagen -->
        <mat-form-field class="col-md-12" appearance="outline" class="col-md-12">
            <mat-label>Imagen</mat-label>
            <input formControlName="imageURL" maxlength="700" type="URL" name="imagen" matInput placeholder="Escribe la url de la imagen">
            <mat-error *ngIf="this.form.controls.imageURL.invalid">{{requiredError}}</mat-error>
        </mat-form-field>
      
    </div>

    <!-- Mostar la imagen -->
    <div class="col-sm-12 col-md-12 col-lg-4 w-100">
        <img [src]="this.form.controls.imageURL.value" class="img-fluid" alt="No ha sido posible cargar la imagen">
    </div> 
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" [mat-dialog-close]="{state: true, pelicula: this.form.value, delete: true}">Eliminar MUVI</button>
  <button mat-raised-button [mat-dialog-close]="{state: true, pelicula: this.form.value, edit: true}" cdkFocusInitia class="callout black submit">Editar MUVI</button>
  <button mat-button (click)="goBack()">Cancel</button>
</mat-dialog-actions>