
.card-text:last-child {
    height: 150px;
    overflow-y: hidden;
  }
  
  .card-columns {
    @media (min-width: 1200px) {
      column-count: 6;
    }
    @media (min-width: 992px)  {
      column-count: 5;
    }
  }

  .modal-backdrop {
    z-index: -1 !important;
  }