<div class="container-fluid p-5">
<h1 class="text-center mb-1">Mis películas</h1>

<div  class="container-fluid p-5 " *ngIf="!muvisFound">
  <h3 class="text-center mb-5">Todavía no has reseñado ninguna pelicula :c </h3>
    <a class="btn btn-primary btn-lg  black" href="#" role="button" [routerLink]="['agregarPelicula']">Agregar película</a>
</div>
<div *ngIf="wait" class="d-flex justify-content-center align-items-center spinner_container">
  <mat-spinner ></mat-spinner>
</div>

<div class="card-columns" *ngIf="!wait">
  <app-muvi-card *ngFor="let muvi of peliculasList" [muvi]="muvi" (seeMuvi)="openEdit($event)"></app-muvi-card>
  </div>
</div>
