<div class="m-5">
    <div class="container-fluid row align-items-center justify-content-center ">
        <h1 class="row justify-content-md-center display-2 mt-5 mb-1">Agregar una película</h1>
        <form [formGroup]="form" (ngSubmit)="agregarMuvi()" 
            class="row container-fluid justify-content-md-center shadow-sm p-2 mb-5 bg-body rounded">
            <div class="col-sm-12 col-md-12 col-lg-6 w-100">
                <!-- Titulo-->
                <mat-form-field class="col-md-12" appearance="outline">
                    <mat-label>Titulo</mat-label>
                    <input formControlName="titulo" matInput required>
                    <mat-hint align="end">{{form.controls.titulo.value?.length || 0}}/300</mat-hint>
                    <mat-error *ngIf="this.form.controls.titulo.invalid">{{requiredError}}</mat-error>
                </mat-form-field>

                <!-- Sinopsis -->
                <mat-form-field appearance="outline"  class="col-md-12">
                    <mat-label>Sinopsis:</mat-label>
                    <textarea formControlName="descripcion" matInput></textarea>
                    <mat-hint align="end">{{form.controls.descripcion.value?.length || 0}}/1000</mat-hint>
                </mat-form-field>

                <!-- Genero -->
                <mat-form-field appearance="outline" class="col-md-6">
                    <mat-label>Género</mat-label>
                    <mat-select formControlName="idGenero" appearance="outline" required>
                        <mat-option *ngFor="let item of generosList" [value]="item.id">{{item.nombre}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.form.controls.idGenero.invalid">{{requiredError}}</mat-error>
                </mat-form-field>

                <!-- Estreno -->
                <mat-form-field class="example-full-width" appearance="outline" class="col-md-6">
                    <mat-label>Estreno</mat-label>
                    <input formControlName="estreno" matInput #estreno maxlength="4" minlength="4" placeholder="2022">
                </mat-form-field>

                <!-- Imagen -->
                <mat-form-field class="col-md-12" appearance="outline" class="col-md-12">
                    <mat-label>Imagen</mat-label>
                    <input formControlName="imageURL" maxlength="700" type="URL" name="imagen" [(ngModel)]="imagenURL" matInput placeholder="Escribe la url de la imagen" (change)="onURLInserted()">
                    <mat-hint class="hint-error" *ngIf="image404">No es posible cargar la imagen ingresada, intentelo con otra imagen</mat-hint>
                    <mat-error *ngIf="this.form.controls.imageURL.invalid">{{requiredError}}</mat-error>
                </mat-form-field>
              
            </div>
            <!-- Mostar la imagen -->
            <div class="col-sm-12 col-md-12 col-lg-4 w-100">
                <img [src]="imageToShow? imageToShow : placeholderImg" class="img-fluid" alt="No ha sido posible cargar la imagen">
            </div> 

            <div class="d-flex justify-content-center">
                <button mat-button class="callout black submit" type="submit">Agregar nueva muvi</button>
            </div>
        </form>
    </div>
</div>