<section class="vh-100">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center mt-1 pe-5">
        <div class="col-sm-6 justify-content-center align-self-center">
          <div class="row align-items-center justify-content-center">
          <h1 class="row justify-content-md-center display-2" >Registrate</h1>
            <form [formGroup]="form" (ngSubmit)="register()" class="row align-items-center">
              <div *ngIf="errorMsg"  class="alert alert-warning" role="alert">
                {{errorMsg}}
              </div>

              <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" required="">
                <mat-error *ngIf="this.form.controls.username.invalid">{{requiredError}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput required="" formControlName="email" type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                <mat-error *ngIf="form.controls.email.invalid && !this.form.controls.email.hasError('required')">Ingrese un email válido</mat-error>
              <mat-error *ngIf="this.form.controls.email.hasError('required')">{{requiredError}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput required [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="this.form.controls.password.invalid">{{requiredError}}</mat-error>
                <mat-hint class="error-red" *ngIf="!passwordsMatch">
                  Las contraseñas deben coincidir
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput required type="password" formControlName="confirmPassword">
                <mat-error *ngIf="this.form.controls.confirmPassword.invalid">{{requiredError}}</mat-error>
              </mat-form-field>

              
              <button mat-button class="callout black submit" type="submit">Registrarme</button>
              <div class="row align-self-center mt-5">
                <p>Ya tienes una cuenta? <a class="link-info" (click)="goLogin()">Ingresa aquí</a></p>
              </div>
            </form>
          </div>
  
        </div>
        <div class="col-sm-6">
          <img src="https://i.imgur.com/p7ooUUq.png"
            alt="Register image" class="dragon" style="object-fit: contain; object-position: left;">
        </div>

      </div>
    </div>
  </section>