<!doctype html>
<html lang="en">
  <head>
  	<title>MUVI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
	<section class="ftco-section">
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	    	<a class="navbar-brand" href="index.html">MUVI</a>
	    	<form action="#" class="searchform order-sm-start order-lg-last">
          <div class="form-group d-flex">
            <input type="text" class="form-control pl-3" placeholder="Search">
            <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
          </div>
        </form>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item active"><a href="#" class="nav-link" (click)="Inicio()">Inicio</a></li>
	        	<li class="nav-item dropdown">
              <button mat-button [matMenuTriggerFor]="generos" class="nav-link" style="background: none; border:none;">Generos</button>    
                <mat-menu #generos="matMenu">
                    <button mat-menu-item *ngFor="let item of generosList" [routerLink]="['index', item.id]">
                        {{item.nombre}}
                    </button>
                </mat-menu>
            </li>
	          <li class="nav-item"><a [routerLink]="['usuario']" class="nav-link" *ngIf="userLoggedIn">Mis peliculas</a></li>
	        </ul>
	      </div>
          <button mat-button class="callout primary">Agregar Pelicula</button>
          <button mat-button class="callout" (click)="LogIn()">Login</button>
          <button mat-button class="callout black" *ngIf="userLoggedIn">Logout</button>
          <button mat-button class="callout" (click)="Registro()" *ngIf="!userLoggedIn">Registro</button>
	    </div>
	  </nav>
    <!-- END nav -->

	</section>

    <router-outlet></router-outlet>

  <script src="../assets/js/main.js"></script>
	</body>
</html>