<!doctype html>
<html lang="en">
  <head>
  	<title>MUVI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
			<div class="container-fluid">
				<div class="navbar-brand logo_container" >
				<img src="https://i.imgur.com/4zxFtGb.png" alt="" width="70" height="auto" class="d-inline-block align-text-top">
				</div>
				<a class="navbar-brand" href="#">
					MUVI
				  </a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  <li class="nav-item">
					<a class="nav-link" (click)="Inicio()">Inicio</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link"  [routerLink]="['usuario']" *ngIf="userLoggedIn">Mis películas</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link"  [routerLink]="['likes']" *ngIf="userLoggedIn">Mis me gusta</a>
				  </li>
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  Generos
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <li *ngFor="let item of generosList"><a class="dropdown-item"  [routerLink]="['index']" [queryParams]="{idgenero : item.id}">{{item.nombre}}</a></li>
					</ul>
				  </li>
				</ul>
				<div class="col">
						<button type="button" class="btn btn-primary callout black" (click)="AgregarMuvi()">Agregar película</button>
				</div>
				<div class="form-inline my-2 my-lg-0 align-self-end "  style="margin-left: auto !important;">
					<form (ngSubmit)="buscarPelicula()" >
					<mat-form-field appearance="outline" class="form_busqueda" style="margin-bottom: -1.25em; min-width: 300px; max-width: 500px; margin-right: 10px;">
						<mat-label>Buscar</mat-label>
						<input matInput placeholder="Escribe el nombre de la película" [(ngModel)]="busqueda" name="busqueda">
						<mat-icon matSuffix>search</mat-icon>
					  </mat-form-field>					  
					</form>
				  </div>
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 pr-5">
					<li class="nav-item">
					  <a class="nav-link" (click)="LogIn()" *ngIf="!userLoggedIn">Ingresar</a>
					</li>
					<li class="nav-item dropdown" *ngIf="userLoggedIn">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{usuario?.username}}
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li  class="dropdown-item">
								<a class="nav-link" (click)="LogOut()" *ngIf="userLoggedIn">Cerrar sesión</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" (click)="Registro()" *ngIf="!userLoggedIn">Registro</a>
					</li>
				  </ul>
			  </div>
			</div>
		  </nav>

		  <main>
          <router-outlet></router-outlet>
			</main>
          
          <script src="../assets/js/main.js"></script>
        </body>
    </html>