<!doctype html>
<html lang="en">
  <head>
  	<title>MUVI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
					MUVI
				  </a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" (click)="Inicio()">Inicio</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link"  [routerLink]="['usuario']" *ngIf="userLoggedIn">Mis películas</a>
				  </li>
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  Generos
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <li *ngFor="let item of generosList"><a class="dropdown-item"  [routerLink]="['index', item.id]">{{item.nombre}}</a></li>
					</ul>
				  </li>
				  <li class="nav-item">
	<!-- 				<a class="nav-link btn-outline-success" (click)="AgregarMuvi()">Agregar película</a> -->
					<button type="button" class="btn btn-primary" (click)="AgregarMuvi()">Agregar película</button>
				  </li>
				</ul>
				<form class="form-inline my-2 my-lg-0 align-self-end" style="margin-left: auto !important;">
				  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				  <button class="btn btn-outline-success" type="submit">Search</button>
				</form>
				<ul class="navbar-nav mb-2 mb-lg-0 align-self-end">
					<li class="nav-item">
					  <a class="nav-link" (click)="LogIn()" *ngIf="!userLoggedIn">Log in</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" *ngIf="userLoggedIn">{{usuario?.username}}</a>
					  </li>
					<li class="nav-item">
					  <a class="nav-link" (click)="LogOut()" *ngIf="userLoggedIn">Log out</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" (click)="Registro()" *ngIf="!userLoggedIn">Registro</a>
					  </li>
				  </ul>
			  </div>
			</div>
		  </nav>

          <router-outlet></router-outlet>

          
          <script src="../assets/js/main.js"></script>
        </body>
    </html>